@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";

*{
 box-sizing: border-box;
}
body{
  background: #181818;
  color: #ffff;
  font-family: sans-serif;
 

}
.logo{
   font-size: xx-large !important; 
   color: #fff;
}

canvas{
  font-size: 10px;
  text-align: center;
  position: absolute;
  
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -2;
  background: #000000;
}
.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.contact-wrapper{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1.5fr !important;

}
.contact-wrapper{
  width: 95%;
  margin: auto;
  box-shadow: 0 0 20px 0 rgb(255, 255, 255, 3);
}
.contact-wrapper >*{
  padding: 1em;
}
.contact-form{
  background: #370505;
  font-size: small;
  color: #ddd;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
  grid-column: 1/3;
}

.contact-form form p{
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input, select, textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color :rgb(133, 193, 126);
  border-bottom: 1px solid #31d2f2;
}

.contact-form button{
  margin-top: 5px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: 0;
  padding: 1em;
  width: 410px;
  height: 45px;
}

.contact-form form button:hover,
.contact-form form button:focus{
  background: #42C920;
  color: #fff;
  transition: background-color 1s ease-out;
}

.contact-info {
  background: rgb(111, 91, 91);
}

.contact-info button{
  background: #474747;
  width: 100px;
}
.contact-info table{
  color: #fff;
  background-color: #000000;
  box-sizing: auto;
  font-size: 12px;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.contact-info th, td {
  padding: 1px;
  width: 120px;
}
.contact-info thead{
  background-color: solid 5px #246355;
  border-bottom: solid 5px #0f362d;
  color: #fff;
}
.contact-info tbody{
  display: block;
}
.tr:nth-child(even){
  background-color: #f00;
}
.contact-info tr:hover td{
  background-color: #31d2f2;
  color: #fff;
}
.container .btn-menu, .logo2{
    float: left;
    line-height: 70px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo2 h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.capa{
position: fixed;
width: 100%;
height: 100vh;
background: rgba(0,0,0,0);
z-index: -1;
top: 0;left: 0;
}
/*Estilos para el encabezado*/
.header{
width: 100%;
height: 100px;
position: fixed;
top: 0;left: 0;
}
.container{
width: 90%;
max-width: 1200px;
margin: auto;
}
.container .btn-menu, .logo{

float: left;
line-height:100px;
}
.container .menu{
float: right;
line-height: 100px;
}
.container .menu a{
display: inline-block;
padding: 15px;
line-height: normal;
text-decoration: none;
color: #fff;
transition: all 0.3s ease;
border-bottom: 2px solid transparent;
font-size: 20px;
margin-right: 5px;
}
.container .menu a:hover{
border-bottom: 2px solid #c7c7c7;
padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
display: none;
}
.container-menu{
position: absolute;
background: rgba(0,0,0,0.5);
width: 100%;
height: 100vh;
top: 0;left: 0;
transition: all 500ms ease;
opacity: 0;
visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
opacity: 1;
visibility: visible;
}
.cont-menu{
font-size: 20px;
width: 100%;
max-width: 250px;
background: #000;
height: 100vh;
position: relative;
transition: all 500ms ease;
transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
transform: translateX(0%);
}
.cont-menu nav{
transform: translateY(15%);
}
.cont-menu nav a{
display: block;
text-decoration: none;
padding: 20px;
color: #c7c7c7;
border-left: 5px solid transparent;
transition: all 400ms ease;
}
.cont-menu nav a:hover{
border-left: 5px solid #c7c7c7;
background: #1f1f1f;
}
.cont-menu label{
position: absolute;
right: 5px;
top: 10px;
color: #fff;
cursor: pointer;
font-size: 20px;
}
/*Fin de Menù lateral*/